.hero{
    overflow: hidden;
    position: relative;
}

.awssld__container {
    display: block;
    width: 100%;
}
.awssld__wrapper {
    height: Calc(50rem + 20vw) !important;
}
.awssld__bullets {
    bottom: 6px !important;
    z-index: 2;
}
.awssld__content div img {
        width: 100%;
    }
.disc{
    position: absolute;
    top: Calc(60% + 10vw );
    left: 50%;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 95%;
}
.disc > h2{
    font-size: Calc(18px + 3vw);
    margin-bottom: 2%;
}
.disc > span{
    font-size: Calc(10px + 2.5vw);
}
.disc > button{
    margin-top: 4%;
    padding: 0.8%;
    font-weight: 900;
    background-color: #9bf00b;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.disc >button:hover{
    text-decoration: underline;
    background-color: #85c53b;
}
.disc > button >svg{
    font-size:1.5rem;
}

.hero >.inf{
    color:#107c10;
    background-color: #ffffff;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
.inf li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 6%;
    cursor: pointer;
}
.inf li:hover h3{
    text-decoration:3px underline;
}
.inf li svg{
    font-size: 2.5rem;
    margin-bottom: 6%;
    
}
.inf li h3{
    font-size:1.1rem
}

@media screen and (max-width:480px){
    
.awssld__content div img {
        width: 52rem;
}
}
@media screen and (max-width:320px){
    .awssld__wrapper {
        height: Calc(30rem + 13vw) !important;
    }
    .awssld__content div img {
        width: 30rem;
    }
    .disc > button {
        width: Calc(50% - 3vw);
    }
    .hero >.inf{
        display:none;
    }
}