.prod{
    position: relative;
    max-width: 100%;
    overflow:hidden;
}
.prod >img{
    width: 100%;
}
.prod .item-prod{
    position: relative;
}
.prod .item-prod img{
    width: 100%;
}
.prod .item-prod:nth-child(10) img{
    width: 100rem;
}
.prod .item-prod:nth-child(2),
.prod .item-prod:nth-child(4),
.prod .item-prod:nth-child(5),
.prod .item-prod:nth-child(6),
.prod .item-prod:nth-child(9),
.prod .item-prod:nth-child(10){
    margin-bottom: 0%;
}

.prod .item-prod:nth-child(2) .prod-desc,
.prod .item-prod:nth-child(4) .prod-desc,
.prod .item-prod:nth-child(6) .prod-desc,
.prod .item-prod:nth-child(9) .prod-desc,
.prod .item-prod:nth-child(10) .prod-desc{
    top: 97%;
    background-color: green;
    position: relative;
    padding: 3% 1% 1% 0%;
}
.prod .item-prod:nth-child(5) .prod-desc{
    top: 99%;
    align-items:center;
    background-color: #333;
    position: relative;
    padding: 3% 1% 1% 0%;
}
.item-prod:nth-child(5) .prod-desc .desc{
    align-items: center;
    justify-content:center
}
.prod .item-prod:nth-child(7) .prod-desc{
    color:black;
}
.prod .item-prod:nth-child(7) .prod-desc button{
    color:black;
}
.prod .item-prod:nth-child(9) .prod-desc,
.prod .item-prod:nth-child(10) .prod-desc{
    background-color:white ;
    color: black;
}
.prod .item-prod:nth-child(9) .prod-desc button ,
.prod .item-prod:nth-child(10) .prod-desc button{
    color:black;
}
.prod .item-prod:nth-child(5) .prod-desc button ,
.prod .item-prod:nth-child(10) .prod-desc button{
    background-color:#9bf00b;
    margin-left: 0.6%;
}
.prod .prod-desc{
    position: absolute;
    top: Calc(90% - 9vw);
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    height: 34%;
}
.prod-desc>.desc{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 2%;
    padding: 2%;
}
.desc >h2{
    margin-bottom: 3.2%;
    font-size: Calc(20px + 3vw);
    line-height: 25px;
}
.desc >span{
    font-size: Calc(10px + 1vw);
    margin-bottom: 3.5%;
}
.desc >button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 800;
    margin-left: -4%;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 0.8rem;
    padding: 0% 2% 0% 4%;
    cursor: pointer;
}
.desc >button:hover{
    text-decoration:2px underline
}
.desc > button>svg{
    font-size: 2rem;
}

@media screen and (max-width:768px){
    .desc > h2 {
        margin-bottom: 3.2%;
        font-size: Calc(15px + 3vw);
    }
    .prod .item-prod:nth-child(10) img {
        width: 55rem;
    }
}
@media screen and (max-width:600px){
    .prod .prod-desc {
        top: Calc(90% - 17vw);
    }
    .desc > h2 {
        margin-bottom: 3.2%;
        font-size: Calc(15px + 3vw);
    }
    .prod .item-prod:nth-child(10) img {
        width: 55rem;
    }
}
@media screen and (max-width:480px){
    .prod .prod-desc {
        top: Calc(82% - 20vw);
    }
    .desc > h2 {
        margin-bottom: 3.2%;
        font-size: Calc(15px + 3vw);
        line-height: 25px;
    }
    .prod .item-prod:nth-child(10) img {
    width: 50rem;
    }
    
}
@media screen and (max-width:320px){
    .prod .prod-desc {
        top: 15rem;
    }
    .desc > h2 {
        margin-bottom: 3.2%;
        font-size: Calc(12px + 3vw);
        line-height: 25px;  
    }
    .prod .item-prod:nth-child(10) img {
    width: 60rem;
    }
}