* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sidebar-primary: #c0c0c0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.py-1 {
  padding: 10px 0;
}
.py-2 {
  padding: 20px 0;
}
.py-3 {
  padding: 30px 0;
}
.py-4 {
  padding: 40px 0;
}



/* Beginning Of Main */

.container {
  position: relative;
  height: 100vh;
  margin: auto;
  overflow: hidden;
}

/* Left Info */

.left-info {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 3rem;
  margin-left: 3rem;
  color: #fff;
  text-shadow: 1px 1px 3px #999;
  justify-content: center;
  align-items: center;
}

/* 1 */
.left-info h1 {
  font-size: 6rem;
  font-weight: 300;
}

/* 2 */
.left-info .location-info {
  text-align: center;
  padding: 0 10px;
}

.left-info .location-info h3 {
  font-size: 2.7rem;
  font-weight: 600;
}

.left-info .location-info p {
  font-size: 1.3rem;
}

/* 3 */
.left-info .weather-status {
  text-align: center;
  padding: 0 20px;
  margin-top: 10px;
}

.left-info .weather-status .weather-icon {
  font-size: 2.2rem;
}

.left-info .weather-status p {
  font-size: 1.2rem;
  margin-top: 4px;
  padding: 3px 0;
}


/* -- RESPONSIVENESS -- */

/* Width Responsiveness */

@media (max-width: 930px) {
  .left-info {
    margin-left: 1.5rem;
    flex-direction: column;
    height: 100vh;
    width: 60vw;
    /* justify-content: center; */
    margin: auto;
  }

  .left-info h1 {
    font-size: 5rem;
  }
}

/* Phones */

@media (max-width: 650px) {
  body {
    background: url('https://images.pexels.com/photos/1631678/pexels-photo-1631678.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260') no-repeat center
      center/cover;
  }
  .left-info {
    width: 100%;
    position: absolute;
    bottom: 5%;
    text-shadow: 1px 1px 1px #888;
  }

  .left-info h1 {
    font-size: 4rem;
  }

  .left-info .location-info {
    padding: 20px;
  }

  .left-info .location-info h3 {
    font-size: 2rem;
  }

  .left-info .location-info p {
    font-size: 1.1rem;
  }

  .left-info p {
    font-size: 0.8rem;
  }

}

/* Height Responsiveness */


